# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset files
data/raw/*
data/processed/*
*.csv
*.xlsx
*.parquet

# Models
*.pkl
*.h5
*.keras
*.joblib

# Large outputs
*.zip
*.rar
*.7z

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep